
 <%= form_for @movie, url:{action:"update"} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :quote %><br>
    <%= f.text_area :quote %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %> 